.Layout {
    width           : 100%;
    height          : 100vh;
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/ScribbleBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}