.Footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 200;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
    display: inline-block;
}

.Icon{
    width: 40px;
    height: 40px;
    margin: 5px 5px 1px 5px;
}

.Icon:hover{
    width: 44px;
    height: 44px;
    margin: 1px 3px 1px 3px;
    cursor: pointer;
}