.InputText {
    padding: 5px; 
    border: 1px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 80%;
    margin-top: 10px;
    font-size: large;
}

.InvalidInputText{
    border: 1px solid rgb(255, 0, 0)
    
}

.InputText:focus {
    border-color:#333;
}